<ng-include src="'./views/header/header.view.client.html'"></ng-include>
<!-- wrapper -->
<div id="wrapper">

    <section class="page-header page-header-xs">
        <div class="container">
            <a  ng-hide="model.user.usertype=='Coach'" ng-href="#/training"><h1>Create a Course</h1></a>
            <!-- breadcrumbs -->

            <ol class="breadcrumb">
                <li><a ng-href="#/index">Home</a></li>
                <li role="presentation" ng-hide="model.user.usertype"><a  ng-href="#/register">Register</a></li>
                <li role="presentation" ng-show="model.user.usertype"><a  ng-href="#/training/favorites/{{model.user._id}}">My Favorites</a></li>
                <li role="presentation" ng-show="model.user.usertype=='Coach'"><a ng-href="#/training/coach/{{model.user._id}}">My Upload Course</a></li>
                <li role="presentation" ng-show="model.user.usertype=='Coach'"><a ng-href="#/training/new">New Course</a></li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>
    <!-- /PAGE HEADER -->


    <!-- -->
    <section>
        <div class="container">

            <form class="form">
                <div class="form-group">
                    <label>Title</label>
                    <input ng-model="model.training.title"
                           type="text"
                           class="form-control"
                           placeholder="Course Title">
                </div>

                <div class="form-group">
                    <div class="row"></div>
                    <label>Youtube Course Url</label>
                    <input ng-model="model.training.videoUrl"
                           type="text"
                           class="form-control"
                           placeholder="The URL of Course">
                </div>

                <div class="form-group">
                    <div class="row"></div>
                    <label>Category</label>
                    <select ng-model="model.training.category"
                            class="form-control">
                        <option ng-selected="model.training.category=='TRAINING'">TRAINING</option>
                        <option ng-selected="model.training.category=='RUNNING'">RUNNING</option>
                        <option ng-selected="model.training.category=='DIET'">DIET</option>
                        <option ng-selected="model.training.category=='SPORT'">SPORT</option>
                        <option ng-selected="model.training.category=='HEALTH'">HEALTH</option>
                        <option ng-selected="model.training.category=='FITNESS'">FITNESS</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea ng-model="model.training.description" rows="3" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Course Introduction"></textarea>
                </div>
            </form>
            <a ng-click="model.createTraining(model.training)" class="btn btn-block btn-success btn-margin">Post Training</a>
        </div>

    </section>
    <!-- / -->

    <ng-include src="'./views/footer/footer.view.client.html'"></ng-include>

</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>
