<ng-include src="'./views/header/header.view.client.html'"></ng-include>
<!-- wrapper -->
<div id="wrapper">

    <section class="page-header page-header-xs">
        <div class="container">
            <h1>Enjoy your study in Spartan College!</h1>
            <!-- breadcrumbs -->

            <ol class="breadcrumb">
                <li><a ng-href="#/index">Home</a></li>
                <li role="presentation" ng-show="model.user.usertype=='coach'"><a ng-href="#/training/my/{{model.user._id}}">MY UPLOAD COURSE</a></li>
                <li role="presentation" ng-show="model.user.usertype=='coach'"><a ng-href="#/training/new">NEW COURSE</a></li>

            </ol><!-- /breadcrumbs -->

        </div>
    </section>



    <!-- -->
    <section>
        <div class="container">

            <div class="row">

                <!-- LEFT -->
                <div class="col-md-3 col-sm-3" >

                    <!-- INLINE SEARCH -->
                    <div class="inline-search clearfix margin-bottom-30">
                        <form action="" method="get" class="widget_search">
                            <input type="search" placeholder="Start Searching..." id="s" name="s" class="serch-input">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                    <!-- /INLINE SEARCH -->

                    <hr/>

                    <!-- side navigation -->
                    <div class="side-nav margin-bottom-60 margin-top-30" ng-show="model.showCategory">

                        <div class="side-nav-head">
                            <button class="fa fa-bars"></button>
                            <h4>CATEGORIES</h4>
                        </div>
                        <ul class="list-group list-group-bordered list-group-noicon uppercase"
                            ng-repeat="category in model.categories">
                            <li class="list-group-item"><a ng-click="model.sortByCategory(category)">{{category}}</a>
                            </li>
                        </ul>
                        <!-- /side navigation -->

                    </div>

                </div>
                <div class="col-md-9 col-sm-9">

                    <ul class="nav nav-tabs nav-top-border">
                        <li class="active"><a showtab="" href="#popular" data-toggle="tab" showtab="">Popular Training</a></li>
                        <li ng-click="model.searchYoutube('fitness')"><a showtab="" href="#youtube-training" data-toggle="tab" showtab="" >Youtube Training</a></li>
                        <li><a showtab="" href="#spartan-college" data-toggle="tab" showtab="">Spartan College</a></li>
                    </ul>

                    <div class="tab-content margin-top-20">

                        <!-- Popular Training TAB -->
                        <div class="tab-pane fade in active" id="popular">
                            <!-- POST ITEM -->
                            <div class="blog-post-item" ng-repeat="post in model.posts">

                                <!-- IMAGE -->
                                <div class="text-center">
                                    <iframe width="50px" height="500px" src="{{model.getYouTubeEmbedUrl(training.videoUrl)}}" frameborder="0" allowfullscreen></iframe>
                                </div>

                                <h3><a ng-href="#/post/my/{{training._coach}}">{{post.posterName}}</a></h3>
                                <p>{{training.description}}</p>
                                <ul class="blog-post-info list-inline">
                                    <li>
                                        <i ng-class="post.heartIcon"
                                           ng-click="model.likePost(model.user._id, training)">
                                        </i>
                                        <span>{{training.likes.length}} likes</span>
                                    </li>
                                    <li>
                                        <i class="icon-comment-alt icon-large" ng-click="model.showCommentInput(training)"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-clock-o icon-large"></i>
                                        <span class="font-lato">{{model.getFormattedDate(training.createDate)}}</span>
                                    </li>
                                    <button type="button"
                                            class="btn btn-danger"
                                            ng-show="post._poster==model.user._id"
                                            ng-click="model.deletePost(post._id)">Delete</button>
                                </ul>

                                <div class="panel panel-default">
                                    <div class="panel-heading panel-heading-transparent">
                                        <h2 class="panel-title">Comments</h2>
                                    </div>

                                </div>

                            </div>
                            <!-- /POST ITEM -->
                        </div>
                        <!-- /Popular Training TAB -->

                        <!-- Youtube Training TAB -->
                        <div class="tab-pane row" id="youtube-training">


                            <div class="blog-post-item" ng-repeat="data in model.youtubeData">
                                <!-- .blog-post-item-inverse = image right side [left on RTL] -->

                                <!-- IMAGE -->
                                <figure class="blog-item-small-image margin-bottom-20">
                                    <img class="img-responsive" ng-src="{{model.getPhotoUrl(data.snippet.thumbnails.default.url)}}" alt="">
                                </figure>

                                <div class="blog-item-small-content">

                                    <h2><a href="https://www.youtube.com/watch?v={{data.id.videoId}}">{{data.snippet.title}}</a></h2>

                                    <ul class="blog-post-info list-inline">
                                        <li>
                                            <i class="fa fa-user"></i>
                                            <span class="font-lato"><a href="https://www.youtube.com/channel/{{data.snippet.channelId}}" >{{data.snippet.channelTitle}}</a></span>

                                        </li>
                                    </ul>
                                    <p>
                                        {{data.snippet.description}}
                                    </p>
                                    <div>
                                        <a href="https://www.youtube.com/watch?v={{data.id.videoId}}" class="btn btn-reveal btn-default">
                                            <i class="fa fa-plus "></i>
                                            <span class="pull-right">View Video</span></a>
                                    </div>

                                </div>

                            </div>
                            <div class="text-center">
                                <input type="hidden" id="pageToken" value="">
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" ng-show="model.prevPageToken" id="pageTokenPrev" ng-click="model.callNextPageFn(model.prevPageToken)" class="btn btn-default">Prev</button>
                                    <button type="button" id="pageTokenNext" ng-click="model.callNextPageFn(model.nextPageToken)" class="btn btn-default">Next</button>
                                </div>
                            </div>

                        </div>
                        <!-- /Youtube Training TAB -->

                        <!-- spartan-college TAB -->
                        <div class="tab-pane fade" id="spartan-college">


                        </div>
                        <!-- /spartan-college TAB -->

                    </div>

                </div>
                <!-- RIGHT -->
                <!--<div class="col-md-9 col-sm-9">-->

                    <!--&lt;!&ndash; POST ITEM &ndash;&gt;-->
                    <!--<div class="blog-post-item" ng-repeat="blog in model.blogs">-->
                        <!--&lt;!&ndash; .blog-post-item-inverse = image right side [left on RTL] &ndash;&gt;-->

                        <!--&lt;!&ndash; IMAGE &ndash;&gt;-->
                        <!--<figure class="blog-item-small-image margin-bottom-20">-->
                            <!--<img class="img-responsive" ng-src="{{blog.titleImageUrl}}" alt="">-->
                        <!--</figure>-->

                        <!--<div class="blog-item-small-content">-->

                            <!--<h2><a ng-click="model.getSingleBlogUrl(blog)">{{blog.title}}</a></h2>-->

                            <!--<ul class="blog-post-info list-inline">-->
                                <!--<li>-->
                                    <!--<i class="fa fa-user"></i>-->
                                    <!--<span class="font-lato">{{blog.bloggerName}}</span>-->

                                <!--</li>-->
                                <!--<li>-->
                                    <!--<i class="fa fa-clock-o"></i>-->
                                    <!--<span class="font-lato">{{model.getFormatedDate(blog.blogDate)}}</span>-->

                                <!--</li>-->
                                <!--<li>-->
                                        <!--<i class="fa fa-comment-o"></i>-->
                                        <!--<span class="font-lato">{{blog.comments.length}} Comments</span>-->
                                <!--</li>-->
                            <!--</ul>-->

                            <!--<p>{{model.getBlogIntro(blog.content)}}</p>-->

                            <!--<a ng-click="model.getSingleBlogUrl(blog)" class="btn btn-reveal btn-default">-->
                                <!--<i class="fa fa-plus"></i>-->
                                <!--<span>Read More</span>-->
                            <!--</a>-->

                        <!--</div>-->

                    <!--</div>-->
                    <!--&lt;!&ndash; /POST ITEM &ndash;&gt;-->

                <!--</div>-->

            </div>

        </div>
    </section>

    <ng-include src="'./views/footer/footer.view.client.html'"></ng-include>
</div>
<!-- /wrapper -->

<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>
