<div id="header" class="sticky header-md clearfix">

    <load-script type="text/javascript-lazy" src="./js/scripts.js"></load-script>
    <!-- TOP NAV -->
    <header id="topNav">
        <div class="container">

            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <!-- BUTTONS -->
            <ul class="pull-right nav nav-pills nav-second-main">
                <li ng-show="model.user.loggedin" class="text-welcome">Welcome to Spartan, <strong>{{model.user.username}}</strong></li>
                <li ng-show="model.user.loggedin">
                    <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#"><i class="fa fa-user hidden-xs"></i> MY ACCOUNT</a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#"><i class="fa fa-history"></i> ORDER HISTORY</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#"><i class="fa fa-bookmark"></i> MY WISHLIST</a></li>
                        <li><a tabindex="-1" href="#"><i class="fa fa-edit"></i> MY REVIEWS</a></li>
                        <li><a tabindex="-1" href="#/profile"><i class="fa fa-cog"></i> MY SETTINGS</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" ng-click="model.logout()"><i class="glyphicon glyphicon-off" ></i> LOGOUT</a></li>
                    </ul>
                </li>
                <li ng-hide="model.user.loggedin" class="dropdown active"><a ng-href="#/login">LOGIN</a></li>
                <li ng-hide="model.user.loggedin" class="dropdown active"><a ng-href="#/register">REGISTER</a></li>
            </ul>
            <!-- /BUTTONS -->


            <!-- Logo -->
            <a class="logo pull-left" href="index.html">
                <img src="./images/logo_light.png" alt="" />
            </a>

            <!--
                Top Nav

                AVAILABLE CLASSES:
                submenu-dark = dark sub menu
            -->
            <div class="navbar-collapse pull-right nav-main-collapse collapse">
                <nav class="nav-main">

                    <!--
                        NOTE

                        For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
                        Direct Link Example:

                        <li>
                            <a href="#">HOME</a>
                        </li>
                    -->
                    <ul id="topMain" class="nav nav-pills nav-main">
                        <li class="dropdown active"><!-- HOME -->
                            <a  href="#/index">HOME</a>
                        </li>
                        <li class="dropdown"><!-- PAGES -->
                            <a class="dropdown-toggle" href="#">
                                Training
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#">
                                        GYM EXERCISE
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">template</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown"><!-- FEATURES -->
                            <a class="dropdown-toggle" href="#">
                                News
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#">
                                        template
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">template</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown"><!-- PORTFOLIO -->
                            <a class="dropdown-toggle" href="#">
                                Show!
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#">
                                        template
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">template</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown"><!-- BLOG -->
                            <a class="dropdown-toggle" href="#">
                               BLOG
                            </a>
                            <ul class="dropdown-menu">
                                <li><a ng-href="#/blog/new" ng-show="model.user.loggedin">New Blog</a></li>
                                <li><a href="#/blog/my" ng-show="model.user.loggedin">My Blog</a></li>
                                <li><a href="#/blog">Trending Blog</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><!-- SHOP -->
                            <a class="dropdown-toggle" href="#">
                                SHOP
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#">
                                        template
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">template</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </nav>
            </div>

        </div>
    </header>
    <!-- /Top Nav -->

</div>