<ng-include src="'./views/header/header.view.client.html'"></ng-include>
<!-- wrapper -->
<div id="wrapper">

    <section class="page-header dark page-header-xs">
        <div class="container">

            <ul class="nav nav-pills">
                <li role="presentation" ng-show="model.user.loggedin">
                    <a ng-href="#/post"><i class="icon-refresh icon-large"/></a></li>
                <li role="presentation"><a ng-href="#/post/trend">TREND</a></li>
                <li role="presentation" ng-show="model.user.loggedin">
                    <a ng-href="#/post/my/{{model.user._id}}">MY POST</a></li>
                <li role="presentation" ng-show="model.user.loggedin">
                    <a ng-href="#/post/new">NEW</a></li>
            </ul>

            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a ng-href="#">Home</a></li>
                <li><a ng-href="#/post">Post</a></li>
                <li class="active">New Post</li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>
    <!-- /PAGE HEADER -->


    <!-- -->
    <section>
        <div class="container container-width-60">
            <h1>New Post</h1>
            <form class="fancy-form" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Post Photo</label>
                    <div class="fancy-file-upload fancy-file-primary">
                        <i class="icon-camera"></i>
                        <input name="upload-file"
                               file-model="model.upload"
                               type="file"
                               class="form-control"
                               id="image-upload"
                               onchange="jQuery(this).next('input').val(this.value);">
                        <input type="text" class="form-control" placeholder="no image selected" readonly="" />
                        <span class="button">Choose File</span>
                    </div>
                </div>

                <div class="form-group">
                    <textarea rows="5"
                              ng-model="model.post.content"
                              class="form-control word-count"
                              data-maxlength="200"
                              data-info="textarea-words-info"
                              placeholder="Tell your friends how great you feel..."></textarea>
                </div>
                <button type="buttom"
                        class="btn btn-block btn-success btn-margin"
                        ng-click="model.uploadFile()"><i class="fa fa-check"></i>Post</button>

            </form>
        </div>

    </section>
    <!-- / -->

    <ng-include src="'./views/footer/footer.view.client.html'"></ng-include>

</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>
