<ng-include src="'./views/header/header.view.client.html'"></ng-include>
<!-- wrapper -->
<div id="wrapper">

    <section class="page-header dark page-header-xs">
        <div class="container">

            <ul class="nav nav-pills">
                <li role="presentation" ng-show="model.user.loggedin">
                    <a ng-href="#/post"><i class="icon-refresh icon-large"/></a></li>
                <li role="presentation"><a ng-href="#/post/trend">TREND</a></li>
                <li role="presentation" ng-show="model.user.loggedin">
                    <a ng-href="#/post/my/{{model.user._id}}">MY POST</a></li>
                <li role="presentation" ng-show="model.user.loggedin">
                    <a ng-href="#/post/new">NEW</a></li>
            </ul>

            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a ng-href="#">Home</a></li>
                <li class="active">{{model.pageType.heading}}</li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>
    <!-- /PAGE HEADER -->


    <!-- -->
    <section>
        <div class="container post-width-60">
            <!-- INLINE SEARCH -->
            <div class="inline-search clearfix margin-bottom-30">
                <form class="widget_search">
                    <input type="search"
                           ng-model="model.keyword"
                           placeholder="Start Searching..."
                           id="s"
                           name="s"
                           class="serch-input">
                    <button ng-click="model.searchPosts(model.keyword)">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <!-- /INLINE SEARCH -->


            <div class="row">
                <h1>{{model.pageType.heading}}
                    <button ng-class="model.pageType.followBtn"
                            type="button"
                            ng-click="model.followPoster(model.posterId)"
                            ng-show="model.pageType.showFollow">{{model.pageType.followText}}
                    </button>
                </h1>


            </div>
            <!-- POST ITEM -->
            <div class="blog-post-item" ng-repeat="post in model.posts">

                <!-- IMAGE -->
                <div class="text-center">
                    <figure class="margin-bottom-20">
                        <img class="img-responsive "
                             ng-src="{{model.getTrustUrl(post.imageUrl)}}"
                             alt="Responsive image">
                    </figure>
                </div>

                <h3><a ng-href="#/post/my/{{post._poster}}">{{post.posterName}}</a></h3>
                <p>{{post.content}}</p>
                <ul class="blog-post-info list-inline">
                    <li>
                        <i ng-class="post.heartIcon"
                           ng-click="model.likePost(model.user._id, post)">
                        </i>
                        <span>{{post.likes.length}} likes</span>
                    </li>
                    <li>
                        <i class="icon-comment-alt icon-large" ng-click="model.showCommentInput(post)"></i>
                    </li>
                    <li>
                        <i class="fa fa-clock-o icon-large"></i>
                        <span class="font-lato">{{model.getFormattedDate(post.postDate)}}</span>
                    </li>
                    <button type="button"
                            class="btn btn-danger"
                            ng-show="post._poster==model.user._id"
                            ng-click="model.deletePost(post._id)">Delete</button>
                </ul>

                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-transparent">
                        <h2 class="panel-title">Comments</h2>
                    </div>

                    <div class="panel-body" ng-repeat="comment in post.commentsView">
                        <div class="row">
                            <div class="col-md-4">
                                <strong>{{comment.commenter}}</strong>
                            </div>
                            <div class="col-md-8">
                                {{comment.content}}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row" ng-show="post.commentInput">
                    <div class="col-xs-10">
                        <div class="fancy-form">
                            <i class="fa fa-comment-o"></i>
                            <input ng-model="post.newComment"
                                   type="tel"
                                   class="form-control"
                                   placeholder="comment here">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <span>
                        <button class="btn btn-primary btn-block"
                                ng-click="model.postComment(post)">Post</button>
                    </span>
                    </div>


                </div>

            </div>
            <!-- /POST ITEM -->


        </div>
    </section>
    <!-- / -->


    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">

            <div class="row">

                <div class="col-md-3">
                    <!-- Footer Logo -->
                    <img class="footer-logo" src="assets/images/logo-footer.png" alt=""/>

                    <!-- Small Description -->
                    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

                    <!-- Contact Address -->
                    <address>
                        <ul class="list-unstyled">
                            <li class="footer-sprite address">
                                PO Box 21132<br>
                                Here Weare St, Melbourne<br>
                                Vivas 2355 Australia<br>
                            </li>
                            <li class="footer-sprite phone">
                                Phone: 1-800-565-2390
                            </li>
                            <li class="footer-sprite email">
                                <a href="mailto:support@yourname.com">support@yourname.com</a>
                            </li>
                        </ul>
                    </address>
                    <!-- /Contact Address -->

                </div>

                <div class="col-md-3">

                    <!-- Latest Blog Post -->
                    <h4 class="letter-spacing-1">LATEST NEWS</h4>
                    <ul class="footer-posts list-unstyled">
                        <li>
                            <a href="#">Donec sed odio dui. Nulla vitae elit libero, a pharetra augue</a>
                            <small>29 June 2015</small>
                        </li>
                        <li>
                            <a href="#">Nullam id dolor id nibh ultricies</a>
                            <small>29 June 2015</small>
                        </li>
                        <li>
                            <a href="#">Duis mollis, est non commodo luctus</a>
                            <small>29 June 2015</small>
                        </li>
                    </ul>
                    <!-- /Latest Blog Post -->

                </div>

                <div class="col-md-2">

                    <!-- Links -->
                    <h4 class="letter-spacing-1">EXPLORE SMARTY</h4>
                    <ul class="footer-links list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Our Clients</a></li>
                        <li><a href="#">Our Pricing</a></li>
                        <li><a href="#">Smarty Tour</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                    <!-- /Links -->

                </div>

                <div class="col-md-4">

                    <!-- Newsletter Form -->
                    <h4 class="letter-spacing-1">KEEP IN TOUCH</h4>
                    <p>Subscribe to Our Newsletter to get Important News &amp; Offers</p>

                    <form class="validate" action="php/newsletter.php" method="post"
                          data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" id="email" name="email" class="form-control required"
                                   placeholder="Enter your Email">
                            <span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
                        </div>
                    </form>
                    <!-- /Newsletter Form -->

                    <!-- Social Icons -->
                    <div class="margin-top-20">
                        <a href="#" class="social-icon social-icon-border social-facebook pull-left"
                           data-toggle="tooltip" data-placement="top" title="Facebook">

                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-twitter pull-left"
                           data-toggle="tooltip" data-placement="top" title="Twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip"
                           data-placement="top" title="Google plus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-linkedin pull-left"
                           data-toggle="tooltip" data-placement="top" title="Linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip"
                           data-placement="top" title="Rss">
                            <i class="icon-rss"></i>
                            <i class="icon-rss"></i>
                        </a>

                    </div>
                    <!-- /Social Icons -->

                </div>

            </div>

        </div>

        <div class="copyright">
            <div class="container">
                <ul class="pull-right nomargin list-inline mobile-block">
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li>&bull;</li>
                    <li><a href="#">Privacy</a></li>
                </ul>
                &copy; All Rights Reserved, Company LTD
            </div>
        </div>
    </footer>
    <!-- /FOOTER -->
    <ng-include src="'./views/footer/footer.view.client.html'"></ng-include>
</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


