
<!-- wrapper -->
<div id="wrapper">
    <ng-include src="'./views/header/header.view.client.html'"></ng-include>
    <section class="page-header dark page-header-xs">
        <div class="container">

            <ul class="nav nav-pills">
                <li role="presentation" ng-show="model.user.loggedin">
                    <a ng-href="#/post"><i class="icon-refresh icon-large"/></a></li>
                <li role="presentation"><a ng-href="#/post/trend">TREND</a></li>
                <li role="presentation" ng-show="model.user.loggedin">
                    <a ng-href="#/post/my/{{model.user._id}}">MY POST</a></li>
                <li role="presentation" ng-show="model.user.loggedin">
                    <a ng-href="#/post/new">NEW</a></li>
            </ul>

            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a ng-href="#">Home</a></li>
                <li class="active">{{model.pageType.heading}}</li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>
    <!-- /PAGE HEADER -->


    <!-- -->
    <section>
        <div class="container container-width-60">
            <!-- INLINE SEARCH -->
            <div class="inline-search clearfix margin-bottom-30">
                <form class="widget_search">
                    <input type="search"
                           ng-model="model.keyword"
                           placeholder="Start Searching Post by description..."
                           id="s"
                           name="s"
                           class="serch-input">
                    <button ng-click="model.searchPosts(model.keyword)">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <!-- /INLINE SEARCH -->


            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6  bold">
                    <h1>{{model.pageType.heading}}</h1>
                </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 text-center bold"
                         ng-show="model.poster">
                        <a ng-href="#/user/{{model.posterId}}/following">
                            <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">{{model.poster.following.length}}</h2>
                            <h4 class="size-11 margin-top-0 margin-bottom-10 text-info">Following</h4>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 text-center bold"
                         ng-show="model.poster">
                        <a ng-href="#/user/{{model.posterId}}/follower">
                            <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">{{model.poster.followerNum}}</h2>
                            <h4 class="size-11 margin-top-0 margin-bottom-10 text-info">Follower</h4>
                        </a>
                    </div>
                <div class="col-md-2 col-sm-2 col-xs-2 margin-top-10">
                        <button ng-class="model.pageType.followBtn"
                                type="button"
                                ng-click="model.followPoster(model.posterId)"
                                ng-show="model.pageType.showFollow">{{model.pageType.followText}}
                        </button>
                </div>


            </div>
            <!-- POST ITEM -->
            <div class="blog-post-item" ng-repeat="post in model.posts">

                <!-- IMAGE -->
                <div class="text-center">
                    <figure class="margin-bottom-20">
                        <img class="img-responsive "
                             ng-src="{{model.getTrustUrl(post.imageUrl)}}"
                             alt="Responsive image">
                    </figure>
                </div>

                <h3><a ng-href="#/post/my/{{post._poster}}">{{post.posterName}}</a></h3>
                <p>{{post.content}}</p>
                <ul class="blog-post-info list-inline">
                    <li>
                        <i ng-class="post.heartIcon"
                           ng-click="model.likePost(model.user._id, post)">
                        </i>
                        <span>{{post.likes.length}} likes</span>
                    </li>
                    <li>
                        <i class="icon-comment-alt icon-large" ng-click="model.showCommentInput(post)"></i>
                    </li>
                    <li>
                        <i class="fa fa-clock-o icon-large"></i>
                        <span class="font-lato">{{model.getFormattedDate(post.postDate)}}</span>
                    </li>
                    <button type="button"
                            class="btn btn-danger"
                            ng-show="post._poster==model.user._id"
                            ng-click="model.deletePost(post._id)">Delete</button>
                </ul>

                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-transparent">
                        <h2 class="panel-title">Comments</h2>
                    </div>

                    <div class="panel-body" ng-repeat="comment in post.commentsView">
                        <div class="row">
                            <div class="col-md-2">
                                <strong>{{comment.commenterName}}:</strong>
                            </div>
                            <div class="col-md-10">
                                {{comment.content}}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row" ng-show="post.commentInput">
                    <div class="col-xs-10">
                        <div class="fancy-form">
                            <i class="fa fa-comment-o"></i>
                            <input ng-model="post.newComment"
                                   type="tel"
                                   class="form-control"
                                   placeholder="comment here">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <span>
                        <button class="btn btn-primary btn-block"
                                ng-click="model.postComment(post)">Post</button>
                    </span>
                    </div>


                </div>

            </div>
            <!-- /POST ITEM -->


        </div>
    </section>
    <!-- / -->


    <ng-include src="'./views/footer/footer.view.client.html'"></ng-include>
</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


