<ng-include src="'./views/header/header.view.client.html'"></ng-include>
<!-- wrapper -->
<div id="wrapper">

    <section class="page-header dark page-header-xs">
        <div class="container">
            <ul class="nav nav-pills">
                <li role="presentation"><a ng-href="#/blog">TREND</a></li>
                <li role="presentation" ng-show="model.user.loggedin"><a ng-href="#/blog/my/{{model.user._id}}">MY BLOG</a></li>
                <li role="presentation" ng-show="model.user.loggedin"><a ng-href="#/blog/new">NEW</a></li>
            </ul>
            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active"><a href="#">{{model.breadcrumb}}</a></li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>
    <!-- /PAGE HEADER -->

    <!-- -->
    <section>
        <div class="container">

            <div class="row">

                <!-- LEFT -->
                <div class="col-md-3 col-sm-3" >

                    <!-- INLINE SEARCH -->
                    <div class="inline-search clearfix margin-bottom-30">
                        <form class="widget_search">
                            <input type="search"
                                   ng-model="model.keyword"
                                   placeholder="Start Searching..."
                                   id="s"
                                   name="s"
                                   class="serch-input">
                            <button ng-click="model.searchBlogs(model.keyword)">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                    <!-- /INLINE SEARCH -->

                    <hr/>

                    <!-- side navigation -->
                    <div class="side-nav margin-bottom-60 margin-top-30" ng-show="model.showCategory">

                        <div class="side-nav-head">
                            <button class="fa fa-bars"></button>
                            <h4>CATEGORIES</h4>
                        </div>
                        <ul class="list-group list-group-bordered list-group-noicon uppercase"
                            ng-repeat="category in model.categories">
                            <li class="list-group-item"><a ng-click="model.sortByCategory(category)">{{category}}</a>
                            </li>
                        </ul>
                        <!-- /side navigation -->

                    </div>

                </div>

                <!-- RIGHT -->
                <div class="col-md-9 col-sm-9">

                    <!-- POST ITEM -->
                    <div class="blog-post-item" ng-repeat="blog in model.blogs">
                        <!-- .blog-post-item-inverse = image right side [left on RTL] -->

                        <!-- IMAGE -->
                        <figure class="blog-item-small-image margin-bottom-20">
                            <img class="img-responsive" ng-src="{{blog.titleImageUrl}}" alt="">
                        </figure>

                        <div class="blog-item-small-content">

                            <h2><a ng-click="model.getSingleBlogUrl(blog)">{{blog.title}}</a></h2>

                            <ul class="blog-post-info list-inline">
                                <li>
                                    <i class="fa fa-user"></i>
                                    <span class="font-lato"><a ng-href="#/blog/my/{{blog._blogger}}" >{{blog.bloggerName}}</a></span>

                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i>
                                    <span class="font-lato">{{model.getFormatedDate(blog.blogDate)}}</span>

                                </li>
                                <li>
                                        <i class="fa fa-comment-o"></i>
                                        <span class="font-lato">{{blog.comments.length}} Comments</span>
                                </li>
                            </ul>

                            <p>{{model.getBlogIntro(blog.intro)}}</p>

                            <a ng-click="model.getSingleBlogUrl(blog)" class="btn btn-reveal btn-default">
                                <i class="fa fa-plus"></i>
                                <span>Read More</span>
                            </a>

                        </div>

                    </div>
                    <!-- /POST ITEM -->

                </div>

            </div>

        </div>
    </section>

    <ng-include src="'./views/footer/footer.view.client.html'"></ng-include>
</div>
<!-- /wrapper -->

<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>
