
<!-- wrapper -->
<div id="wrapper">

    <section class="page-header page-header-xs">
        <div class="container">

            <h1>Edit Blog</h1>

            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a ng-href="#">Home</a></li>
                <li><a ng-href="#/blog">Blog</a></li>
                <li class="active">{{model.title}}</li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>
    <!-- /PAGE HEADER -->

    <section>
        <div class="container">

            <h1 class="blog-post-title">{{model.blog.title}}</h1>
            <ul class="blog-post-info list-inline">
                <li>
                    <a href="#">
                        <i class="fa fa-clock-o"></i>
                        <span class="font-lato">{{model.getFormatedDate(model.blog.blogDate)}}</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-comment-o"></i>
                        <span class="font-lato">{{model.blog.comments.length}} Comments</span>
                    </a>
                </li>
                <li>
                    <i class="fa fa-folder-open-o"></i>

                    <a class="category" href="#">
                        <span class="font-lato">{{model.blog.category}}</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span class="font-lato">{{model.user.username}}</span>
                    </a>
                </li>
                <li>
                    <a ng-href="#/blog/{{model.blog._id}}/edit"><button class="btn btn-block btn-primary">Edit</button></a>
                </li>
            </ul>

            <!-- IMAGE -->
            <!--
            <figure class="margin-bottom-20">
                <img class="img-responsive" src="assets/images/demo/content_slider/10-min.jpg" alt="img" />
            </figure>
            -->
            <!-- /IMAGE -->

            <!-- VIDEO -->
            <!--
            <div class="margin-bottom-20 embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/8408210" width="800" height="450"></iframe>
            </div>
            -->
            <!-- /VIDEO -->


            <!-- article content -->
            <div ta-bind ng-model="model.blog.content"></div>
            <!-- /article content -->

            <div class="divider divider-dotted"><!-- divider --></div>

            <!-- COMMENTS -->
            <div id="comments" class="comments">

                <h4 class="page-header margin-bottom-60 size-20">
                    <span>{{model.blog.likes.length}}</span>
                    <i ng-class="model.thumbsUp.icon"
                       ng-click="model.likeBlog('58e2fe3a3e931c5dc3af6c41', model.blog)">
                    </i>
                    <span>{{model.blog.comments.length}}</span> COMMENTS
                </h4>

                <div class="container" ng-repeat="comment in model.comments">
                    <!-- comment item -->
                    <div class="comment-item">

                        <!-- user-avatar -->
                        <span class="user-avatar">
								<img class="pull-left media-object" src="assets/images/avatar.png" width="64"
                                     height="64" alt="">
							</span>

                        <div class="media-body">
                            <a href="#commentForm" class="scrollTo comment-reply">reply</a>
                            <h4 class="media-heading bold">{{comment.user.username}}</h4>
                            <small class="block">{{model.getFormatedDate(comment.commentDate}}</small>
                            {{comment.content}}
                        </div>
                    </div>
                </div>


                <h4 class="page-header size-20 margin-bottom-60 margin-top-100">
                    LEAVE A <span>COMMENT</span>
                </h4>

                <!-- Form -->
                <form action="#" method="post">

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>NAME</label>
                                <input required="required" type="text" value="" maxlength="100"
                                       class="form-control input-lg" name="author" id="author">
                            </div>
                            <div class="col-md-4">
                                <label>EMAIL</label>
                                <input required="required" type="email" value="" maxlength="100"
                                       class="form-control input-lg" name="contact_email" id="contact_email">
                            </div>
                            <div class="col-md-4">
                                <label>WEBSITE</label>
                                <input type="email" value="" maxlength="100" class="form-control input-lg" name="url"
                                       id="url">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>COMMENT</label>
                                <textarea required="required" maxlength="5000" rows="5" class="form-control"
                                          name="comment"
                                          id="comment"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <button class="btn btn-3d btn-lg btn-reveal btn-black">
                                <i class="fa fa-check"></i>
                                <span>SUBMIT MESSAGE</span>
                            </button>

                        </div>
                    </div>

                </form>
                <!-- /Form -->

            </div>
            <!-- /COMMENTS -->


        </div>
    </section>
    <!-- / -->

</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>
