<div id="header" class="sticky header-md clearfix">

    <load-script type="text/javascript-lazy" src="./js/scripts.js"></load-script>
    <!-- TOP NAV -->
    <header id="topNav">
        <div class="container">

            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <!-- BUTTONS -->
            <ul class="pull-right nav nav-pills nav-second-main">
                <li ng-hide="model.user.loggedin" class="dropdown active"><a ng-href="#/login">LOGOUT</a></li>
            </ul>
            <!-- /BUTTONS -->


            <!-- Logo -->
            <a class="logo pull-left" href="index.html">
                <img src="./images/logo_light.png" alt="" />
            </a>
            <ul class="nav nav-pills nav-second-main">
                <li class="dropdown active"><h3>ADMIN PANEL</h3></li>
            </ul>


        </div>
    </header>
    <!-- /Top Nav -->

</div>
<div class="row">

    <!-- tabs -->
    <div class="col-md-3 col-sm-3">
        <ul class="nav nav-tabs nav-stacked nav-alternate">
            <li class="active">
                <a href="#dashboard" data-toggle="tab" showtab="">
                    DASHBOARD
                </a>
            </li>
            <li>
                <a href="#membership" data-toggle="tab" showtab="">
                    Membership List
                </a>
            </li>
            <li>
                <a href="#coach" data-toggle="tab" showtab="">
                    COACH MANAGEMENT
                </a>
            </li>
        </ul>
    </div>

    <!-- tabs content -->
    <div class="col-md-9 col-sm-9">
        <div class="tab-content tab-stacked nav-alternate">
            <div id="dashboard" class="tab-pane active">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box blue-bg">
                            <i class="fa fa-cloud-download"></i>
                            <div class="count">6.674</div>
                            <div class="title">Download</div>
                        </div><!--/.info-box-->
                    </div><!--/.col-->

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box brown-bg">
                            <i class="fa fa-shopping-cart"></i>
                            <div class="count">7.538</div>
                            <div class="title">Purchased</div>
                        </div><!--/.info-box-->
                    </div><!--/.col-->

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box dark-bg">
                            <i class="fa fa-thumbs-o-up"></i>
                            <div class="count">4.362</div>
                            <div class="title">Order</div>
                        </div><!--/.info-box-->
                    </div><!--/.col-->

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box green-bg">
                            <i class="fa fa-cubes"></i>
                            <div class="count">1.426</div>
                            <div class="title">Stock</div>
                        </div><!--/.info-box-->
                    </div><!--/.col-->

                </div>


            </div>

            <div id="membership" class="tab-pane">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-laptop"></i> Memberships</h3>
                    </div>
                </div>
                <div class="main-content">

                    <div class="btn-toolbar list-toolbar">
                        <button class="btn btn-primary"><i class="fa fa-plus"></i> New User</button>
                        <button class="btn btn-default">Import</button>
                        <button class="btn btn-default">Export</button>
                        <div class="btn-group">
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th style="width: 3.5em;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Tompson</td>
                            <td>the_mark7</td>
                            <td>
                                <a href="user.html"><i class="fa fa-pencil"></i></a>
                                <a href="#myModal" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Ashley</td>
                            <td>Jacobs</td>
                            <td>ash11927</td>
                            <td>
                                <a href="user.html"><i class="fa fa-pencil"></i></a>
                                <a href="#myModal" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Audrey</td>
                            <td>Ann</td>
                            <td>audann84</td>
                            <td>
                                <a href="user.html"><i class="fa fa-pencil"></i></a>
                                <a href="#myModal" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>John</td>
                            <td>Robinson</td>
                            <td>jr5527</td>
                            <td>
                                <a href="user.html"><i class="fa fa-pencil"></i></a>
                                <a href="#myModal" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Aaron</td>
                            <td>Butler</td>
                            <td>aaron_butler</td>
                            <td>
                                <a href="user.html"><i class="fa fa-pencil"></i></a>
                                <a href="#myModal" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Chris</td>
                            <td>Albert</td>
                            <td>cab79</td>
                            <td>
                                <a href="user.html"><i class="fa fa-pencil"></i></a>
                                <a href="#myModal" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <ul class="pagination">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>

                    <div class="modal small fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3 id="myModalLabel">Delete Confirmation</h3>
                                </div>
                                <div class="modal-body">
                                    <p class="error-text"><i class="fa fa-warning modal-icon"></i>Are you sure you want to delete the user?<br>This cannot be undone.</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                    <button class="btn btn-danger" data-dismiss="modal">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <footer>
                        <hr>


                        <div style="clear:both;"></div>
                    </footer>
                </div>
            </div>

            <div id="coach" class="tab-pane">
                <h4>Alternate Stacked 3</h4>
                <p>Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
            </div>
        </div>
    </div>

</div>