<div id="header" class="sticky header-md clearfix">

    <load-script type="text/javascript-lazy" src="./js/scripts.js"></load-script>
    <!-- TOP NAV -->
    <header id="topNav">
        <div class="container">

            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <!-- BUTTONS -->
            <ul class="pull-right nav nav-pills nav-second-main">
                <li ng-hide="model.user.loggedin" class="dropdown active"><a ng-href="#/login">LOGOUT</a></li>
            </ul>
            <!-- /BUTTONS -->


            <!-- Logo -->
            <a class="logo pull-left" href="index.html">
                <img src="./images/logo_light.png" alt="" />
            </a>
            <ul class="nav nav-pills nav-second-main">
                <li class="dropdown active"><h3>ADMIN PANEL</h3></li>
            </ul>


        </div>
    </header>
    <!-- /Top Nav -->

</div>
<div class="row">

    <!-- tabs -->
    <div class="col-md-3 col-sm-3">
        <ul class="nav nav-tabs nav-stacked nav-alternate">
            <li class="active">
                <a href="#dashboard" data-toggle="tab" showtab="">
                    DASHBOARD
                </a>
            </li>
            <li>
                <a href="#user" data-toggle="tab" showtab="">
                    User List
                </a>
            </li>
        </ul>
    </div>

    <!-- tabs content -->
    <div class="col-md-9 col-sm-9">
        <div class="tab-content tab-stacked nav-alternate">
            <div id="dashboard" class="tab-pane active">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a href="#dashboard" data-toggle="tab" showtab="">Home</a></li>
                            <li><i class="fa fa-laptop"></i>Dashboard</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box blue-bg">
                            <i class="fa fa-cloud-download"></i>
                            <div class="count">6.674</div>
                            <div class="title">Download</div>
                        </div><!--/.info-box-->
                    </div><!--/.col-->

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box brown-bg">
                            <i class="fa fa-shopping-cart"></i>
                            <div class="count">7.538</div>
                            <div class="title">Purchased</div>
                        </div><!--/.info-box-->
                    </div><!--/.col-->

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box dark-bg">
                            <i class="fa fa-thumbs-o-up"></i>
                            <div class="count">4.362</div>
                            <div class="title">Order</div>
                        </div><!--/.info-box-->
                    </div><!--/.col-->

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box green-bg">
                            <i class="fa fa-cubes"></i>
                            <div class="count">1.426</div>
                            <div class="title">Stock</div>
                        </div><!--/.info-box-->
                    </div><!--/.col-->

                </div>


            </div>


            <div id="user" class="tab-pane">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-users"></i> Spartan User</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a href="#dashboard" data-toggle="tab" showtab="">Home</a></li>
                            <li><i class="fa fa-users"></i>User List</li>
                        </ol>
                    </div>
                </div>
                <div class="main-content">

                    <div class="btn-toolbar list-toolbar">
                        <button class="btn btn-primary"><i class="fa fa-plus"></i> New User</button>
                        <div class="btn-group">
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>User Type</th>
                            <th>News Service</th>
                            <th style="width: 3.5em;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  ng-repeat="user in model.users">
                            <td>{{user.index}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.usertype}}</td>
                            <td>{{user.news}}</td>
                            <td><a href="#user-profile" data-toggle="tab" showtab="" ng-click="model.turnToUserProfile(user)"><i class="fa fa-pencil"></i></a>
                                <a href="#myModal" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a></td>
                        </tr>

                        </tbody>
                    </table>


                    <div class="modal small fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3 id="myModalLabel">Delete Confirmation</h3>
                                </div>
                                <div class="modal-body">
                                    <p class="error-text"><i class="fa fa-warning modal-icon"></i>Are you sure you want to delete the user?<br>This cannot be undone.</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                    <button class="btn btn-danger" data-dismiss="modal">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <footer>
                        <hr>


                        <div style="clear:both;"></div>
                    </footer>
                </div>
            </div>

            <div id="user-profile" class="tab-pane">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-users"></i> Profile</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a href="#dashboard" data-toggle="tab" showtab="">Home</a></li>
                            <li><i class="fa fa-users"></i><a href="#user" data-toggle="tab" showtab="">User List</a></li>
                            <li><i class="fa fa-user"></i>User Profile</li>
                        </ol>
                    </div>
                </div>
                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane fade in active" id="info">
                        <form role="form" action="#" method="post">
                            <div class="form-group">
                                <label class="control-label">Username</label>
                                <input ng-model="model.singleuser.username" type="text" placeholder="Username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label">First Name</label>
                                <input ng-model="model.singleuser.firstname" type="text" placeholder="First Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Last Name</label>
                                <input ng-model="model.singleuser.lastname" type="text" placeholder="Last Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label">email</label>
                                <input ng-model="model.singleuser.email" type="text" placeholder="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Phone</label>
                                <input ng-model="model.singleuser.phone" type="text" placeholder="Phone Number" class="form-control">
                            </div>
                            <div class="sky-form">

                                <table class="table table-bordered table-striped">
                                    <tbody>
                                    <tr>
                                        <td>I agree to the <a>Terms of Service</a></td>
                                        <td>
                                            <label class="checkbox nomargin">
                                                <input ng-model="model.singleuser.service" type="checkbox" name="checkbox" checked="checked"><i></i> Yes
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>I want to receive news and  special offers</td>
                                        <td>
                                            <label class="checkbox nomargin">
                                                <input ng-model="model.singleuser.news" type="checkbox" name="checkbox" checked=""><i></i> Yes
                                            </label>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>


                            <div class="margiv-top10">
                                <a ng-click="model.createUser(model.singleuser)" ng-show="model.createuser" class="btn btn-primary"><i class="fa fa-check"></i> Save Changes </a>
                                <a ng-click="model.updateUser(model.singleuser)" ng-hide="model.createuser" class="btn btn-primary"><i class="fa fa-check"></i> Save Changes </a>
                                <a ng-click="model.deleteUser(model.singleuser)" ng-hide="model.createuser" class="btn btn-danger"><i class="fa fa-check"></i> Unregister User</a>
                            </div>
                        </form>
                    </div>
                    <!-- /PERSONAL INFO TAB -->




                </div>
            </div>
        </div>
    </div>

</div>