
<!-- wrapper -->
<div id="wrapper">


    <ng-include src="'./views/header/header.view.client.html'"></ng-include>


    <!-- -->
    <section>
        <div class="container">

            <div class="row">

                <!-- LOGIN -->
                <div class="col-md-6 col-sm-6">

                    <!-- login form -->
                    <form action="#" method="post" class="sky-form boxed">

                        <header class="size-18 margin-bottom-20">
                            I'm a returning customer
                        </header>

                        <fieldset class="nomargin">

                            <label class="input margin-bottom-10">
                                <i class="ico-append fa fa-user"></i>
                                <input ng-model="model.user.username"required type="text" placeholder="Username">
                                <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                            </label>

                            <label class="input margin-bottom-10">
                                <i class="ico-append fa fa-lock"></i>
                                <input ng-model="model.user.password" required type="password" placeholder="Password">
                                <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
                            </label>

                            <div class="clearfix note margin-bottom-30">
                                <a class="pull-right" href="#">Forgot Password?</a>
                            </div>

                            <label class="checkbox weight-300">
                                <input type="checkbox" name="checkbox-inline">
                                <i></i> Keep me logged in
                            </label>

                        </fieldset>

                        <footer>
                            <a  class="btn btn-primary noradius pull-right" ng-click="model.login(model.user)"><i class="fa fa-check"></i> OK, LOG IN</a>
                        </footer>

                    </form>
                    <!-- /login form -->

                    <!-- ALERT -->
                    <div class="alert alert-mini alert-danger margin-bottom-30" ng-show="model.error">
                        {{model.error}}
                    </div><!-- /ALERT -->

                </div>
                <!-- /LOGIN -->

                <!-- SOCIAL LOGIN -->
                <div class="col-md-6 col-sm-6">
                    <form action="#" method="post" class="sky-form boxed">

                        <header class="size-18 margin-bottom-20">
                            Sign In using your favourite social network
                        </header>

                        <fieldset class="nomargin">

                            <div class="row">

                                <div class="col-md-8 col-md-offset-2">

                                    <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook margin-bottom-10">
                                        <i class="fa fa-facebook"></i> Sign in with Facebook
                                    </a>

                                    <a class="btn btn-block btn-social btn-twitter margin-bottom-10">
                                        <i class="fa fa-twitter"></i> Sign in with Twitter
                                    </a>

                                    <a href="/auth/google" class="btn btn-block btn-social btn-google margin-bottom-10">
                                        <i class="fa fa-google-plus"></i> Sign in with Google
                                    </a>

                                </div>
                            </div>

                        </fieldset>

                        <footer>
                            Don't have an account yet? <a href="page-register-1.html"><strong>Click to register!</strong></a>
                        </footer>

                    </form>

                </div>
                <!-- /SOCIAL LOGIN -->

            </div>


        </div>
    </section>
    <!-- / -->

    <ng-include src="'./views/foot/foot.view.client.html'"></ng-include>


</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>