
<!-- wrapper -->
<div id="wrapper">


    <div id="header" class="sticky header-md clearfix">

        <!-- TOP NAV -->
        <header id="topNav">
            <div class="container">

                <!-- Mobile Menu Button -->
                <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- BUTTONS -->
                <ul class="pull-right nav nav-pills nav-second-main">

                    <li class="dropdown active"><a ng-href="#/user">LOGIN</a></li>
                    <li class="dropdown active"><a ng-href="#/register">REGISTER</a></li>
                </ul>
                <!-- /BUTTONS -->


                <!-- Logo -->
                <a class="logo pull-left" href="index.html">
                    <img src="./images/logo_light.png" alt="" />
                </a>

                <!--
                    Top Nav

                    AVAILABLE CLASSES:
                    submenu-dark = dark sub menu
                -->
                <div class="navbar-collapse pull-right nav-main-collapse collapse">
                    <nav class="nav-main">

                        <!--
                            NOTE

                            For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
                            Direct Link Example:

                            <li>
                                <a href="#">HOME</a>
                            </li>
                        -->
                        <ul id="topMain" class="nav nav-pills nav-main">
                            <li class="dropdown active"><!-- HOME -->
                                <a  href="#/index">HOME</a>
                            </li>
                            <li class="dropdown"><!-- PAGES -->
                                <a class="dropdown-toggle" href="#">
                                    Training
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#">
                                            GYM EXERCISE
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">template</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown"><!-- FEATURES -->
                                <a class="dropdown-toggle" href="#">
                                    News
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#">
                                            template
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">template</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown"><!-- PORTFOLIO -->
                                <a class="dropdown-toggle" href="#">
                                    Show!
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#">
                                            template
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">template</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown"><!-- BLOG -->
                                <a class="dropdown-toggle" href="#">
                                    BLOG
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#">
                                            template
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">template</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown"><!-- SHOP -->
                                <a class="dropdown-toggle" href="#">
                                    SHOP
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#">
                                            template
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">template</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </nav>
                </div>

            </div>
        </header>
        <!-- /Top Nav -->

    </div>
    <!-- -->
    <section>
        <div class="container">

            <!-- LEFT -->
            <div class="col-lg-3 col-md-3 col-sm-4">

                <div class="thumbnail text-center">
                    <p>aaa</p>
                    <img src={{model.user.avatar}} alt="" />
                    <h2 class="size-18 margin-top-10 margin-bottom-0">{{model.user.firstname}} {{model.user.lastname}}</h2>
                    <h3 class="size-11 margin-top-0 margin-bottom-10 text-muted">{{model.user.usertype}}</h3>
                </div>

                <!-- completed -->
                <div class="margin-bottom-30">
                    <label>88% completed profile</label>
                    <div class="progress progress-xxs">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%; min-width: 2em;"></div>
                    </div>
                </div>
                <!-- /completed -->

                <!-- SIDE NAV -->
                <ul class="side-nav list-group margin-bottom-60" id="sidebar-nav">
                    <li class="list-group-item active"><a ng-href="#/profile"><i class="fa fa-eye"></i> PROFILE</a></li>
                    <li class="list-group-item"><a ng-href="#/profile/comment"><i class="fa fa-comments-o"></i> COMMENTS</a></li>
                    <li class="list-group-item"><a ng-href="#/profile/history"><i class="fa fa-history"></i> HISTORY</a></li>
                    <li class="list-group-item"><a ng-href="#/profile/edit"><i class="fa fa-gears"></i> SETTINGS</a></li>
                </ul>
                <!-- /SIDE NAV -->


                <!-- info -->
                <div class="box-light margin-bottom-30"><!-- .box-light OR .box-light -->
                    <div class="row margin-bottom-20">
                        <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                            <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">12</h2>
                            <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">BLOGS</h3>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                            <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">34</h2>
                            <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">POSTS</h3>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                            <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">32</h2>
                            <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">COMMENTS</h3>
                        </div>
                    </div>
                    <!-- /info -->

                    <div class="text-muted">
                        <h2 class="size-18 text-muted margin-bottom-6"><b>About</b> {{model.user.username}}</h2>
                        <p>{{model.user.selfIntro}}</p>

                        <ul class="list-unstyled nomargin">
                            <li class="margin-bottom-10"><i class="fa fa-globe width-20 hidden-xs hidden-sm"></i> <a href={{model.github}}>Github</a></li>
                            <li class="margin-bottom-10"><i class="fa fa-facebook width-20 hidden-xs hidden-sm"></i> <a href={{model.facebook}}>Facebook</a></li>
                            <li class="margin-bottom-10"><i class="fa fa-twitter width-20 hidden-xs hidden-sm"></i> <a href={{model.twitter}}>Twitter</a></li>
                        </ul>
                    </div>

                </div>

            </div>


            <!-- RIGHT -->
            <div class="col-lg-9 col-md-9 col-sm-8">

                <!-- FLIP BOX -->
                <div class="box-flip box-icon box-icon-center box-icon-round box-icon-large text-center nomargin">
                    <div class="front">
                        <div class="box1 noradius">
                            <div class="box-icon-title">
                                <i class="fa fa-user"></i>
                                <h2>{{model.firstname}} {{model.lastname}} &ndash; Profile</h2>
                            </div>
                            <p>I love Spartan so much!</p>
                        </div>
                    </div>

                    <div class="back">
                        <div class="box2 noradius">
                            <h4>WHO AM I?</h4>
                            <hr />
                            <p>{{model.user.selfIntro}}</p>
                        </div>
                    </div>
                </div>
                <!-- /FLIP BOX -->


                <div class="box-light"><!-- .box-light OR .box-dark -->

                    <div class="row">

                        <!-- POPULAR POSTS -->
                        <div class="col-md-6 col-sm-6">

                            <div class="box-inner">
                                <h3>
                                    <a class="pull-right size-11 text-warning" href="#">VIEW ALL</a>
                                    POPULAR POSTS
                                </h3>
                                <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">

                                    <!--<div class="clearfix margin-bottom-10">&lt;!&ndash; post item &ndash;&gt;-->
                                        <!--<img class="thumbnail pull-left" src="assets/images/demo/people/300x300/b-min.jpg" width="60" height="60" alt="" />-->
                                        <!--<h4 class="size-13 nomargin noborder nopadding"><a href="blog-single-default.html">Nullam Vitae Nibh Un Odiosters</a></h4>-->
                                        <!--<span class="size-11 text-muted">June 29, 2015</span>-->
                                    <!--</div>&lt;!&ndash; /post item &ndash;&gt;-->


                                </div>
                            </div>

                            <div class="box-footer">
                                <!-- INLINE SEARCH -->
                                <div class="inline-search clearfix">
                                    <form action="#" method="get" class="widget_search nomargin">
                                        <input type="search" placeholder="Search Post..." name="s" class="serch-input">
                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <div class="clear"></div>
                                    </form>
                                </div>
                                <!-- /INLINE SEARCH -->

                            </div>

                        </div>
                        <!-- /POPULAR POSTS -->

                        <!-- FRIENDS -->
                        <div class="col-md-6 col-sm-6">

                            <div class="box-inner">
                                <h3>
                                    <a class="pull-right size-11 text-warning" href="#">VIEW ALL</a>
                                    FRIENDS
                                </h3>
                                <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">

                                    <!--<div class="clearfix margin-bottom-10">&lt;!&ndash; squared item &ndash;&gt;-->
                                        <!--<img class="thumbnail pull-left" src="assets/images/demo/people/300x300/1-min.jpg" width="40" height="40" alt="" />-->
                                        <!--<h4 class="size-14 nomargin noborder nopadding bold"><a href="#">Joana Doe</a></h4>-->
                                        <!--<span class="size-12 text-muted">Lorem ipsum dolor sit amet.</span>-->
                                    <!--</div>&lt;!&ndash; /squared item &ndash;&gt;-->


                                </div>
                            </div>

                            <div class="box-footer">
                                <!-- INLINE SEARCH -->
                                <div class="inline-search clearfix">
                                    <form action="#" method="get" class="widget_search nomargin">
                                        <input type="search" placeholder="Search Friend..." name="s" class="serch-input">
                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <div class="clear"></div>
                                    </form>
                                </div>
                                <!-- /INLINE SEARCH -->

                            </div>

                        </div>
                        <!-- /FRIENDS -->

                    </div>


                    <div class="row margin-top-30">

                        <!-- BlLOGS -->
                        <div class="col-md-6 col-sm-6">

                            <div class="box-inner">
                                <h3>
                                    <a class="pull-right size-11 text-warning" href="#">VIEW ALL</a>
                                    DISCUSSIONS
                                </h3>
                                <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">


                                </div>
                            </div>

                            <div class="box-footer">
                                <!-- INLINE SEARCH -->
                                <div class="inline-search clearfix">
                                    <form action="#" method="get" class="widget_search nomargin">
                                        <input type="search" placeholder="Search Discussion..." name="s" class="serch-input">
                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <div class="clear"></div>
                                    </form>
                                </div>
                                <!-- /INLINE SEARCH -->

                            </div>

                        </div>
                        <!-- /DISCUSSIONS -->

                        <!-- NOTIFICATIONS -->
                        <div class="col-md-6 col-sm-6">

                            <div class="box-inner">
                                <h3>
                                    <a class="pull-right size-11 text-warning" href="#">VIEW ALL</a>
                                    FAORITE
                                </h3>
                                <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">


                                </div>
                            </div>

                            <div class="box-footer">
                                <!-- INLINE SEARCH -->
                                <div class="inline-search clearfix">
                                    <form action="#" method="get" class="widget_search nomargin">
                                        <input type="search" placeholder="Search notification..." name="s" class="serch-input">
                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <div class="clear"></div>
                                    </form>
                                </div>
                                <!-- /INLINE SEARCH -->

                            </div>

                        </div>
                        <!-- /NOTIFICATIONS -->

                    </div>


                </div>


                <form method="post" action="#" class="box-light margin-top-20"><!-- .box-light OR .box-dark -->
                    <div class="box-inner">
                        <h4 class="uppercase">LEAVE A MESSAGE TO <strong>FELICIA DOE</strong></h4>

                        <textarea required class="form-control word-count" data-maxlength="100" rows="5" placeholder="Type your message here..."></textarea>
                        <div class="text-muted text-right margin-top-3 size-12 margin-bottom-10">
                            <span>0/100</span> Words
                        </div>

                        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
                    </div>
                </form>

            </div>

        </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">

            <div class="row">

                <div class="col-md-4">
                    <!-- Footer Logo -->
                    <img class="footer-logo" src="../../../images/logo_light_foot.png" alt="" />

                    <!-- Small Description -->
                    <p><strong>Fit is not a destination.</strong><br><strong>It is a way of life!</strong></p>


                    <!-- Contact Address -->
                    <address>
                        <ul class="list-unstyled">
                            <li class="footer-sprite address">
                                360 Huntington Ave.<br>
                                Boston, Massachusetts<br>
                                02115 United States<br>
                            </li>
                            <li class="footer-sprite phone">
                                Phone: 1.617.373.2000
                            </li>
                            <li class="footer-sprite email">
                                <a href="mailto:ccis@neu.com">ccis@neu.com</a>
                            </li>
                        </ul>
                    </address>
                    <!-- /Contact Address -->

                </div>

                <div class="col-md-3">

                    <!-- Links -->
                    <h4 class="letter-spacing-1">EXPLORE SMARTY</h4>
                    <ul class="footer-links list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                    <!-- /Links -->

                </div>

                <div class="col-md-4">

                    <!-- Newsletter Form -->
                    <h4 class="letter-spacing-1">KEEP IN TOUCH</h4>
                    <p>Subscribe to Our Newsletter to get Important News &amp; Offers</p>

                    <form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
                            <span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
                        </div>
                    </form>
                    <!-- /Newsletter Form -->

                    <!-- Social Icons -->
                    <div class="margin-top-20">
                        <a href="https://www.facebook.com/" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">

                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="https://twitter.com/" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="https://www.google.com/" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="https://www.linkedin.com/" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>


                    </div>
                    <!-- /Social Icons -->

                </div>

            </div>

        </div>

        <div class="copyright">
            <div class="container">
                <ul class="pull-right nomargin list-inline mobile-block">
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li>&bull;</li>
                    <li><a href="#">Privacy</a></li>
                </ul>
                &copy; All Rights Reserved, NEU Xuliang Qin & Yinkai Bin
            </div>
        </div>
    </footer>
    <!-- /FOOTER -->

</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>