<load-script type="text/javascript-lazy" src="./js/scripts.js"></load-script>
<!-- wrapper -->
<div id="wrapper">


    <ng-include src="'./views/header/header.view.client.html'"></ng-include>

    <!-- -->
    <section>
        <div class="container">

            <!-- LEFT -->
            <div class="col-lg-3 col-md-3 col-sm-4">

                <div class="thumbnail text-center">
                    <img src="model.user.avatar" alt="" />
                    <h2 class="size-18 margin-top-10 margin-bottom-0">{{model.user.username}}</h2>
                    <h3 class="size-11 margin-top-0 margin-bottom-10 text-muted">{{model.user.usertype}}</h3>
                </div>

                <!-- completed -->
                <div class="margin-bottom-30">
                    <label>88% completed profile</label>
                    <div class="progress progress-xxs">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%; min-width: 2em;"></div>
                    </div>
                </div>
                <!-- /completed -->

                <!-- SIDE NAV -->
                <ul class="side-nav list-group margin-bottom-60" id="sidebar-nav">
                    <li class="list-group-item active"><a ng-href="#/profile"><i class="fa fa-eye"></i> PROFILE</a></li>
                    <li class="list-group-item"><a ng-href="#/profile/comment"><i class="fa fa-comments-o"></i> COMMENTS</a></li>
                    <li class="list-group-item"><a ng-href="#/profile/history"><i class="fa fa-history"></i> HISTORY</a></li>
                    <li class="list-group-item"><a ng-href="#/profile/edit"><i class="fa fa-gears"></i> SETTINGS</a></li>
                </ul>
                <!-- /SIDE NAV -->


                <!-- info -->
                <div class="box-light margin-bottom-30"><!-- .box-light OR .box-light -->
                    <div class="row margin-bottom-20">
                        <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                            <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">12</h2>
                            <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">BLOGS</h3>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                            <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">34</h2>
                            <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">POSTS</h3>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                            <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">32</h2>
                            <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">COMMENTS</h3>
                        </div>
                    </div>
                    <!-- /info -->

                    <div class="text-muted">
                        <h2 class="size-18 text-muted margin-bottom-6"><b>About</b> {{model.user.username}}</h2>
                        <p>{{model.user.selfIntro}}</p>

                        <ul class="list-unstyled nomargin">
                            <li class="margin-bottom-10"><i class="fa fa-globe width-20 hidden-xs hidden-sm"></i> <a href={{model.github}}>Github</a></li>
                            <li class="margin-bottom-10"><i class="fa fa-facebook width-20 hidden-xs hidden-sm"></i> <a href={{model.facebook}}>Facebook</a></li>
                            <li class="margin-bottom-10"><i class="fa fa-twitter width-20 hidden-xs hidden-sm"></i> <a href={{model.twitter}}>Twitter</a></li>
                        </ul>
                    </div>

                </div>

            </div>


            <!-- RIGHT -->
            <div class="col-lg-9 col-md-9 col-sm-8">

                <!-- FLIP BOX -->
                <div class="box-flip box-icon box-icon-center box-icon-round box-icon-large text-center nomargin">
                    <div class="front">
                        <div class="box1 noradius">
                            <div class="box-icon-title">
                                <i class="fa fa-user"></i>
                                <h2>{{model.user.username}}&ndash; Profile</h2>
                            </div>
                            <p>I love Spartan so much!</p>
                        </div>
                    </div>

                    <div class="back">
                        <div class="box2 noradius">
                            <h4>WHO AM I?</h4>
                            <hr />
                            <p>{{model.user.selfIntro}}</p>
                        </div>
                    </div>
                </div>
                <!-- /FLIP BOX -->


                <div class="box-light"><!-- .box-light OR .box-dark -->

                    <div class="row">

                        <!-- POPULAR POSTS -->
                        <div class="col-md-6 col-sm-6">

                            <div class="box-inner">
                                <h3>
                                    <a class="pull-right size-11 text-warning" href="#">VIEW ALL</a>
                                    POPULAR POSTS
                                </h3>
                                <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">

                                    <!--<div class="clearfix margin-bottom-10">&lt;!&ndash; post item &ndash;&gt;-->
                                        <!--<img class="thumbnail pull-left" src="assets/images/demo/people/300x300/b-min.jpg" width="60" height="60" alt="" />-->
                                        <!--<h4 class="size-13 nomargin noborder nopadding"><a href="blog-single-default.html">Nullam Vitae Nibh Un Odiosters</a></h4>-->
                                        <!--<span class="size-11 text-muted">June 29, 2015</span>-->
                                    <!--</div>&lt;!&ndash; /post item &ndash;&gt;-->


                                </div>
                            </div>

                            <div class="box-footer">
                                <!-- INLINE SEARCH -->
                                <div class="inline-search clearfix">
                                    <form action="#" method="get" class="widget_search nomargin">
                                        <input type="search" placeholder="Search Post..." name="s" class="serch-input">
                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <div class="clear"></div>
                                    </form>
                                </div>
                                <!-- /INLINE SEARCH -->

                            </div>

                        </div>
                        <!-- /POPULAR POSTS -->

                        <!-- FRIENDS -->
                        <div class="col-md-6 col-sm-6">

                            <div class="box-inner">
                                <h3>
                                    <a class="pull-right size-11 text-warning" href="#">VIEW ALL</a>
                                    FRIENDS
                                </h3>
                                <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">

                                    <!--<div class="clearfix margin-bottom-10">&lt;!&ndash; squared item &ndash;&gt;-->
                                        <!--<img class="thumbnail pull-left" src="assets/images/demo/people/300x300/1-min.jpg" width="40" height="40" alt="" />-->
                                        <!--<h4 class="size-14 nomargin noborder nopadding bold"><a href="#">Joana Doe</a></h4>-->
                                        <!--<span class="size-12 text-muted">Lorem ipsum dolor sit amet.</span>-->
                                    <!--</div>&lt;!&ndash; /squared item &ndash;&gt;-->


                                </div>
                            </div>

                            <div class="box-footer">
                                <!-- INLINE SEARCH -->
                                <div class="inline-search clearfix">
                                    <form action="#" method="get" class="widget_search nomargin">
                                        <input type="search" placeholder="Search Friend..." name="s" class="serch-input">
                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <div class="clear"></div>
                                    </form>
                                </div>
                                <!-- /INLINE SEARCH -->

                            </div>

                        </div>
                        <!-- /FRIENDS -->

                    </div>


                    <div class="row margin-top-30">

                        <!-- BlLOGS -->
                        <div class="col-md-6 col-sm-6">

                            <div class="box-inner">
                                <h3>
                                    <a class="pull-right size-11 text-warning" href="#">VIEW ALL</a>
                                    DISCUSSIONS
                                </h3>
                                <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">


                                </div>
                            </div>

                            <div class="box-footer">
                                <!-- INLINE SEARCH -->
                                <div class="inline-search clearfix">
                                    <form action="#" method="get" class="widget_search nomargin">
                                        <input type="search" placeholder="Search Discussion..." name="s" class="serch-input">
                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <div class="clear"></div>
                                    </form>
                                </div>
                                <!-- /INLINE SEARCH -->

                            </div>

                        </div>
                        <!-- /DISCUSSIONS -->

                        <!-- NOTIFICATIONS -->
                        <div class="col-md-6 col-sm-6">

                            <div class="box-inner">
                                <h3>
                                    <a class="pull-right size-11 text-warning" href="#">VIEW ALL</a>
                                    FAORITE
                                </h3>
                                <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">


                                </div>
                            </div>

                            <div class="box-footer">
                                <!-- INLINE SEARCH -->
                                <div class="inline-search clearfix">
                                    <form action="#" method="get" class="widget_search nomargin">
                                        <input type="search" placeholder="Search notification..." name="s" class="serch-input">
                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <div class="clear"></div>
                                    </form>
                                </div>
                                <!-- /INLINE SEARCH -->

                            </div>

                        </div>
                        <!-- /NOTIFICATIONS -->

                    </div>


                </div>


                <form method="post" action="#" class="box-light margin-top-20"><!-- .box-light OR .box-dark -->
                    <div class="box-inner">
                        <h4 class="uppercase">LEAVE A MESSAGE TO <strong>FELICIA DOE</strong></h4>

                        <textarea required class="form-control word-count" data-maxlength="100" rows="5" placeholder="Type your message here..."></textarea>
                        <div class="text-muted text-right margin-top-3 size-12 margin-bottom-10">
                            <span>0/100</span> Words
                        </div>

                        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
                    </div>
                </form>

            </div>

        </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <ng-include src="'./views/foot/foot.view.client.html'"></ng-include>
    <!-- /FOOTER -->

</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>