<load-script type="text/javascript-lazy" src="./js/scripts.js"></load-script>
<!-- wrapper -->
<div id="wrapper">


    <ng-include src="'./views/header/header.view.client.html'"></ng-include>

    <!-- -->
    <section>
        <div class="container">

            <!-- LEFT -->
            <div class="col-lg-3 col-md-3 col-sm-4">

                <div class="thumbnail text-center">
                    <img  ng-src="{{model.user.avatar}}" ng-show="model.user.avatar" />
                    <h2 class="size-18 margin-top-10 margin-bottom-0">{{model.user.username}}</h2>
                    <h3 class="size-11 margin-top-0 margin-bottom-10 text-muted">{{model.user.usertype}}</h3>
                </div>

                <!-- completed -->

                <!--<div class="margin-bottom-30">-->
                    <!--<label>88% completed profile</label>-->
                    <!--<div class="progress progress-xxs">-->
                        <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%; min-width: 2em;"></div>-->
                    <!--</div>-->
                <!--</div>-->
                <!-- /completed -->

                <!-- SIDE NAV -->
                <ul class="side-nav list-group margin-bottom-60" id="sidebar-nav">
                    <li class="list-group-item active"><a ng-href="#/profile"><i class="fa fa-eye"></i> PROFILE</a></li>
                    <li class="list-group-item"><a ng-href="#/blog/my/{{model.user._id}}"><i class="fa fa-book"></i> MY BLOG</a></li>
                    <li class="list-group-item"><a ng-href="#/post/my/{{model.user._id}}"><i class="fa fa-history"></i> MY POST</a></li>
                    <li class="list-group-item"><a ng-href="#/my/favorite"><i class="fa fa-history"></i> MY FAVOURITE</a></li>
                    <li class="list-group-item"><a ng-href="#/profile/edit"><i class="fa fa-gears"></i> SETTINGS</a></li>
                </ul>
                <!-- /SIDE NAV -->


                <!-- info -->
                <div class="box-light margin-bottom-30"><!-- .box-light OR .box-light -->
                    <div class="row margin-bottom-20">

                        <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                            <a ng-href="#/user/{{model.user._id}}/following">
                                <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">{{model.user.following.length}}</h2>
                                <h4 class="size-11 margin-top-0 margin-bottom-10 text-info">Following</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                            <a ng-href="#/user/{{model.user._id}}/follower">
                                <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">{{model.followerNum}}</h2>
                                <h4 class="size-11 margin-top-0 margin-bottom-10 text-info">Follower</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                            <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">{{model.user.storecourse.length}}</h2>
                            <h4 class="size-11 margin-top-0 margin-bottom-10 text-info">Courses</h4>
                        </div>
                    </div>
                    <!-- /info -->

                    <div class="text-muted">
                        <h2 class="size-18 text-muted margin-bottom-6"><b>About</b> {{model.user.username}}</h2>
                        <p>{{model.user.selfIntro}}</p>

                        <ul class="list-unstyled nomargin">
                            <li class="margin-bottom-10"><i class="fa fa-globe width-20 hidden-xs hidden-sm"></i> <a href={{model.github}}>Github</a></li>
                            <li class="margin-bottom-10"><i class="fa fa-facebook width-20 hidden-xs hidden-sm"></i> <a href={{model.facebook}}>Facebook</a></li>
                            <li class="margin-bottom-10"><i class="fa fa-twitter width-20 hidden-xs hidden-sm"></i> <a href={{model.twitter}}>Twitter</a></li>
                        </ul>
                    </div>

                </div>

            </div>


            <!-- RIGHT -->
            <div class="col-lg-9 col-md-9 col-sm-8">

                <!-- FLIP BOX -->
                <div class="box-flip box-icon box-icon-center box-icon-round box-icon-large text-center nomargin">
                    <div class="front">
                        <div class="box1 noradius">
                            <div class="box-icon-title">
                                <i class="fa fa-user"></i>
                                <h2>{{model.user.username}}&ndash; Profile</h2>
                            </div>
                            <p>I love Spartan so much!</p>
                        </div>
                    </div>

                    <div class="back">
                        <div class="box2 noradius">
                            <h4>WHO AM I?</h4>
                            <hr />
                            <p>{{model.user.selfIntro}}</p>
                        </div>
                    </div>
                </div>
                <!-- /FLIP BOX -->


                <div class="box-light" ng-show="model.user.usertype=='MemberShip'"><!-- .box-light OR .box-dark -->

                    <div class="row">

                        <!-- POPULAR POSTS -->
                        <div class="col-md-6 col-sm-6">

                            <div class="box-inner">
                                <h3>
                                    <a class="pull-right size-11 text-warning" ng-href="#/training">VIEW ALL</a>
                                    My Courses
                                </h3>
                                <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                                    <div ng-repeat="course in model.courses">
                                        <a ng-href="#/training/{{course._id}}"><h3>{{course.title}}</h3></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /POPULAR POSTS -->

                        <!-- BlLOGS -->
                        <div class="col-md-6 col-sm-6">

                            <div class="box-inner">
                                <h3>
                                    <a class="pull-right size-11 text-warning" href="#">VIEW ALL</a>
                                    Trending Blogs
                                </h3>
                                <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                                    <div ng-repeat="blog in model.blogs">
                                        <a ng-href="#/blog/{{blog._id}}"><h3>{{blog.title}}</h3></a>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- /BLOGS -->


                    </div>


                    <div class="row margin-top-30">
                        <!-- FOLLOWING -->
                        <div class="col-md-6 col-sm-6">

                            <div class="box-inner">
                                <h3>
                                    <a class="pull-right size-11 text-warning" ng-href="#/user/{{model.user._id}}/following">VIEW ALL</a>
                                    My Following
                                </h3>
                                <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                                    <div ng-repeat="following in model.following">
                                        <a ng-href="#/user/{{following._id}}/following"><h3>{{following.username}}</h3></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /FOLLOWING -->

                        <!-- FOLLOWER -->
                        <div class="col-md-6 col-sm-6">

                            <div class="box-inner">
                                <h3>
                                    <a class="pull-right size-11 text-warning" href="#">VIEW ALL</a>
                                    My Followers
                                </h3>
                                <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                                    <div ng-repeat="follower in model.followers">
                                        <a ng-href="#/user/{{follower._id}}/following"><h3>{{follower.username}}</h3></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /FOLLOWER -->

                    </div>


                </div>

                <div class="box-light" ng-show="model.user.usertype=='Coach'">
                    <h3 class="text-center">My Upload Courses</h3>
                    <div class="list-group">
                        <div ng-repeat="course in model.courses">
                            <a ng-href="#/training/{{course._id}}" class="list-group-item">
                                <h4 class="list-group-item-heading">{{course.title}}</h4>
                                <p class="list-group-item-text">{{course.description}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <ng-include src="'./views/footer/footer.view.client.html'"></ng-include>
    <!-- /FOOTER -->

</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>