
<!-- wrapper -->
<div id="wrapper">


    <ng-include src="'./views/header/header.view.client.html'"></ng-include>

    <!-- -->
    <section>
        <div class="container">

            <!-- RIGHT -->
            <div class="col-lg-9 col-md-9 col-sm-8 col-lg-push-3 col-md-push-3 col-sm-push-4 margin-bottom-80">

                <ul class="nav nav-tabs nav-top-border">
                    <li class="active"><a showtab="" href="#info" data-toggle="tab" showtab="">Personal Info</a></li>
                    <li><a showtab="" href="#avatar" data-toggle="tab" showtab="">Avatar</a></li>
                    <li><a showtab="" href="#password" data-toggle="tab" showtab="">Password</a></li>
                    <li><a showtab="" href="#privacy" data-toggle="tab" showtab="">Privacy</a></li>
                    <li><a showtab="" href="#unregister" data-toggle="tab" showtab="">Unregister</a></li>
                </ul>

                <div class="tab-content margin-top-20">

                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane fade in active" id="info">
                        <form role="form" action="#" method="post">
                            <div class="form-group">
                                <label class="control-label">First Name</label>
                                <input ng-model="model.user.firstname" type="text" placeholder="First Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Last Name</label>
                                <input ng-model="model.user.lastname" type="text" placeholder="Last Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label">email</label>
                                <input ng-model="model.user.email" type="text" placeholder="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Phone</label>
                                <input ng-model="model.user.phone" type="text" placeholder="Phone Number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label">About</label>
                                <textarea ng-model="model.user.selfIntro" class="form-control" rows="3" placeholder="About Me..."></textarea>
                            </div>
                            <div class="margiv-top10">
                                <a ng-click="model.update(model.user)" class="btn btn-primary"><i class="fa fa-check"></i> Save Changes </a>
                                <a ng-href="#/profile" class="btn btn-default">Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- /PERSONAL INFO TAB -->

                    <!-- AVATAR TAB -->
                    <div class="tab-pane fade" id="avatar">

                                <div class="row">

                                    <div class="col-md-3 col-sm-4">

                                        <div class="thumbnail">
                                            <img  ng-src="{{model.user.avatar}}" ng-show="model.user.avatar" />
                                            <img src="https://image.freepik.com/free-vector/variety-of-user-avatars_23-2147542131.jpg" ng-hide="model.user.avatar" />
                                        </div>

                                    </div>

                                    <div class="col-md-9 col-sm-8" >
                                            <form action="/api/upload"  method="post" enctype="multipart/form-data">
                                                <input  name="myFile"  type="file" class="form-control"/>
                                                <input  name="userId" value="{{model.user._id}}"   style="display:None"/>
                                                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-check"></i> Save Change</button>
                                            </form>
                                            <div class="clearfix margin-top-20">
                                                <span class="label label-warning">NOTE! </span>
                                                <p>
                                                    Please select file in JPG and PNG!
                                                </p>
                                            </div>
                                    </div>

                                </div>



                    </div>
                    <!-- /AVATAR TAB -->

                    <!-- PASSWORD TAB -->
                    <div class="tab-pane fade" id="password">

                        <form action="#" method="post">

                            <div class="form-group">
                                <label class="control-label">Current Password</label>
                                <input ng-model="model.user.originPass" type="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label">New Password</label>
                                <input ng-model="model.user.newpass" type="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Re-type New Password</label>
                                <input ng-model="model.user.newpassCheck" type="password" class="form-control">
                            </div>

                            <div class="margiv-top10">
                                <a ng-click="model.updatePass(model.user)" class="btn btn-primary"><i class="fa fa-check"></i> Change Password</a>
                                <a href="#/profile" class="btn btn-default">Cancel </a>
                            </div>

                        </form>

                    </div>
                    <!-- /PASSWORD TAB -->

                    <!-- PRIVACY TAB -->
                    <div class="tab-pane fade" id="unregister">


                        <form action="#" method="post">
                            <form action="#" method="post">

                                <div class="form-group">
                                    <label class="control-label">Enter your username
                                        ({{model.user.username}}) below to confirm you want to permanently delete it:
                                    </label>
                                    <input ng-model="model.user.confirmDelete" type="text" class="form-control">
                                </div>
                                <div class="margiv-top10">
                                    <a ng-click="model.delete(model.user)" class="btn btn-primary"><i class="fa fa-check"></i> Unregister User</a>
                                </div>

                            </form>

                        </form>

                    </div>
                    <!-- /PRIVACY TAB -->
                    <!-- Unregister -->
                    <div class="tab-pane fade" id="privacy">


                        <form action="#" method="post">
                            <div class="sky-form">

                                <table class="table table-bordered table-striped">
                                    <tbody>
                                    <tr>
                                        <td>I agree to the <a>Terms of Service</a></td>
                                        <td>
                                            <label class="checkbox nomargin">
                                                <input ng-model="model.user.service" type="checkbox" name="checkbox" checked="checked"><i></i> Yes
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>I want to receive news and  special offers</td>
                                        <td>
                                            <label class="checkbox nomargin">
                                                <input ng-model="model.user.news" type="checkbox" name="checkbox" checked=""><i></i> Yes
                                            </label>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="margin-top-10">
                                <a ng-click="model.update(model.user)" class="btn btn-primary"><i class="fa fa-check"></i> Save Changes </a>
                                <a href="#/profile" class="btn btn-default">Cancel </a>
                            </div>

                        </form>

                    </div>
                    <!-- /Unregister -->
                </div>

            </div>


            <!-- LEFT -->
            <div class="col-lg-3 col-md-3 col-sm-4 col-lg-pull-9 col-md-pull-9 col-sm-pull-8">

                <div class="thumbnail text-center">
                    <img  ng-src="{{model.user.avatar}}" ng-show="model.user.avatar" />
                    <h2 class="size-18 margin-top-10 margin-bottom-0">{{model.user.username}}</h2>
                    <h3 class="size-11 margin-top-0 margin-bottom-10 text-muted">{{model.user.usertype}}</h3>
                </div>

                <!-- completed -->
                <div class="margin-bottom-30">
                    <label>88% completed profile</label>
                    <div class="progress progress-xxs">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%; min-width: 2em;"></div>
                    </div>
                </div>
                <!-- /completed -->

                <!-- SIDE NAV -->
                <ul class="side-nav list-group margin-bottom-60" id="sidebar-nav">
                    <li class="list-group-item active"><a ng-href="#/profile"><i class="fa fa-eye"></i> PROFILE</a></li>
                    <li class="list-group-item"><a ng-href="#/profile/comment"><i class="fa fa-comments-o"></i> COMMENTS</a></li>
                    <li class="list-group-item"><a ng-href="#/profile/history"><i class="fa fa-history"></i> HISTORY</a></li>
                    <li class="list-group-item"><a ng-href="#/profile/edit"><i class="fa fa-gears"></i> SETTINGS</a></li>
                </ul>
                <!-- /SIDE NAV -->


                <!-- info -->
                <div class="box-light margin-bottom-30"><!-- .box-light OR .box-light -->
                    <div class="row margin-bottom-20">
                        <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                            <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">12</h2>
                            <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">BLOGS</h3>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                            <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">34</h2>
                            <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">POSTS</h3>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                            <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">32</h2>
                            <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">COMMENTS</h3>
                        </div>
                    </div>
                    <!-- /info -->

                    <div class="text-muted">
                        <h2 class="size-18 text-muted margin-bottom-6"><b>About</b> {{model.user.username}}</h2>
                        <p>{{model.user.selfIntro}}</p>

                        <ul class="list-unstyled nomargin">
                            <li class="margin-bottom-10"><i class="fa fa-globe width-20 hidden-xs hidden-sm"></i> <a href={{model.github}}>Github</a></li>
                            <li class="margin-bottom-10"><i class="fa fa-facebook width-20 hidden-xs hidden-sm"></i> <a href={{model.facebook}}>Facebook</a></li>
                            <li class="margin-bottom-10"><i class="fa fa-twitter width-20 hidden-xs hidden-sm"></i> <a href={{model.twitter}}>Twitter</a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <ng-include src="'./views/footer/footer.view.client.html'"></ng-include>
    <!-- /FOOTER -->

</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>