<!-- wrapper -->
<div id="wrapper">


    <ng-include src="'./views/header/header.view.client.html'"></ng-include>



    <!-- -->
    <section>
        <div class="container">

            <div class="row">

                <!-- LOGIN -->
                <div class="col-md-6 col-sm-6">

                    <!-- ALERT -->
                    <!--
                    <div class="alert alert-mini alert-danger margin-bottom-30">
                        <strong>Oh snap!</strong> Login Incorrect!
                    </div>
                    -->
                    <!-- /ALERT -->

                    <!-- register form -->
                    <form class="nomargin sky-form boxed" action="#" method="post">
                        <header>
                            <i class="fa fa-users"></i> Register
                        </header>

                        <fieldset class="nomargin">
                            <label class="input margin-bottom-10">
                                <i class="ico-append fa fa-user"></i>
                                <input ng-model="model.user.username" type="text" placeholder="Username">
                                <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                            </label>

                            <label class="input margin-bottom-10">
                                <i class="ico-append fa fa-lock"></i>
                                <input ng-model="model.user.password"type="password" placeholder="Password">
                                <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
                            </label>

                            <label class="input margin-bottom-10">
                                <i class="ico-append fa fa-lock"></i>
                                <input ng-model="model.user.passwordCheck" type="password" placeholder="Confirm password">
                                <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
                            </label>

                            <div class="row margin-bottom-10">
                                <div class="col-md-6">
                                    <label class="input">
                                        <input ng-model="model.user.firstname" type="text" placeholder="First name">
                                    </label>
                                </div>
                                <div class="col col-md-6">
                                    <label class="input">
                                        <input ng-model="model.user.lastname" type="text" placeholder="Last name">
                                    </label>
                                </div>
                            </div>

                            <div class="margin-top-30">
                                <label class="checkbox nomargin"><input id="service" ng-model="model.user.service"  type="checkbox" name="checkbox" ><i></i>I agree to the <a>Terms of Service</a></label>
                                <label class="checkbox nomargin"><input id="news" ng-model="model.user.news" type="checkbox" name="checkbox"><i></i>I want to receive news and  special offers</label>
                            </div>
                        </fieldset>

                        <div class="row margin-bottom-20">
                            <div class="col-md-12">
                                <a  class="btn btn-primary" ng-click="model.register(model.user)"><i class="fa fa-check"></i> REGISTER</a>
                            </div>
                        </div>

                    </form>
                    <!-- /register form -->
                    <!-- ALERT -->
                    <div class="alert alert-mini alert-danger margin-bottom-30" ng-show="model.error">
                        {{model.error}}
                    </div><!-- /ALERT -->
                </div>
                <!-- /LOGIN -->

                <!-- SOCIAL LOGIN -->
                <div class="col-md-6 col-sm-6">
                    <form action="#" method="post" class="sky-form boxed">

                        <header class="size-18 margin-bottom-20">
                            Register using your favourite social network
                        </header>

                        <fieldset class="nomargin">

                            <div class="row">

                                <div class="col-md-8 col-md-offset-2">

                                    <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook margin-bottom-10">
                                        <i class="fa fa-facebook"></i> Sign up with Facebook
                                    </a>

                                    <a href="/auth/github" class="btn btn-block btn-social btn-github margin-bottom-10">
                                        <i class="fa fa-github"></i> Sign up with Twitter
                                    </a>

                                    <a href="/auth/google" class="btn btn-block btn-social btn-google margin-bottom-10">
                                        <i class="fa fa-google-plus"></i> Sign up with Google
                                    </a>

                                </div>
                            </div>

                        </fieldset>

                        <footer>
                            Already have an account? <a ng-href="#/login"><strong>Back to login!</strong></a>
                        </footer>

                    </form>

                </div>
                <!-- /SOCIAL LOGIN -->

            </div>


        </div>
    </section>
    <!-- / -->

    <ng-include src="'./views/footer/footer.view.client.html'"></ng-include>


</div>
<!-- /wrapper -->